doctype html
html
  block vars
  head
    title= title
    link(rel='stylesheet', href='/css/base.css')
    meta(name='viewport', content='initial-scale=1.0')
    if settings.env === 'development'
      script(src='http://localhost:35729/livereload.js')
  body
    .busy(style='display: none')
      .background-drop
      .indicator
        i.fa.fa-refresh.fa-spin

    header.navbar.navbar-default.navbar-inverse.navbar-static-top
      .container
        .navbar-header
          button.navbar-toggle(data-toggle='collapse', type='button', data-target='.navbar-collapse')
            span.sr-only='Toggle navigation'
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')='Assessment'
        nav.collapse.navbar-collapse
          if user
            ul.nav.navbar-nav
              li
                a(href='/questions/manage')='Questions'
              li
                a(href='/sessions/manage')='Sessions'
          ul.nav.navbar-nav.navbar-right
            unless user
              li
                a.login(href='/login')='Login'
            else
              li
                a.logout(href='/logout')='Logout'

    .container
      if messages.error
        .alert.alert-danger=messages.error
      else if messages.info
        .alert.alert-success=messages.info
      block content
    if(pageName)
      script(type='text/javascript', src='/js/require.js', data-main='/js/#{pageName}.js')
