extends layout

block content
  .row
    .col-md-4.col-md-offset-4
      form#assessmentForm(action='/#{token}', method='post')
        h4='New Assessment'
        .form-group
          label(for='email')='Email address'
          input#email.form-control(type='text', name='email', data-parsley-required='true', data-parsley-type='email', autocomplete='off')
        .form-group
          label(for='firstName')='First Name'
          input#firstName.form-control(type='text', name='firstName', data-parsley-required='true', autocomplete='off')
        .form-group
          label(for='lastName')='Last Name'
          input#lastName.form-control(type='text', name='lastName', data-parsley-required='true', autocomplete='off')
        button.submit.form-control(type='submit')='Start'

block vars
    - var pageName = 'newAssessment'
