.busy {
  .background-drop {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 10001;
    background-color: gray;
    opacity: .5;
  }

  .indicator {
    z-index: 10003;
    width: 100px;
    height: 100px;
    left: 50%;
    top: 40%;
    margin-left: -50px;
    position: absolute;
    font-size: 40px;

    i {
      display: block;
      text-align: center;
      color: #000;
      margin-top: 25px;
    }
  }
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.actions {
  a {
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
  }
}

.clear {
  clear: both;
}

.modal-dialog {
  .dialog-actions {
    clear: both;
    overflow: hidden;
    text-align: right;
    margin-top: 10px;

    .form-control {
      display: inline-block;
      width: auto;
      margin-left: 10px;
    }
  }
}
