form#assessment {
  text-align: center;

  input.form-control {
    text-align: center;
    margin: 10px auto;
  }

  input.form-control, button {
    width: 100px;
  }

  button {
    margin: auto;
  }
}
